html {
    height: 101%;
}

body,
ul {
    padding: 0px;
    margin: 0px;
}


/*  Header */

header {
    background-color: lightgrey;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
    width: 100%;
    position: fixed;
    top: 0px;
}

.content {
    margin-top: 350px;
    margin-bottom: 20px;
}

#title-box {
    position: relative;
    left: 50%;
    top: 30px;
}

.navbar {
    top: 200px;
}


/* admin tables */

.admin-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%
}

.admin-table td, .admin-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.admin-table tr:hover {background-color: #ddd;}

.a th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


/* Event Box */

.event-box {
    /* display: flex; */
}


/* Log in  Form */

.form-container {
    width: 50%;
}

.panel {
    padding: 10px;
    border: 1px solid #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
}

#register-next {
    position: relative;
    top: -40px;
}

.next {
    float: right;
}

#cvv {
    width: 20%;
}

.required {
    color: red;
}


/* responsive form */

@media screen and (max-width: 700px) {
    .form-container {
        width: 100%;
    }
    .panel {
        margin: 0px;
    }
}


/* Calendar */

.calendar-container {
    width: 185px;
}


/* Error messages */

.form-group small,
#error-message {
    visibility: hidden;
}

.form-group.error small,
.input-error {
    visibility: visible;
    border: 1px solid red;
    padding: 2px;
    border-radius: 2px;
}

.error-box {
    padding: 5px 0px;
    background: lightcoral;
    width: 50%;
}


/* Server side registration response */

.response-box {
    border-radius: 10px;
    padding: 20px;
}

.response-box.response-success {
    border: 1px solid green;
}


/* Footer */

footer {
    width: 100%;
    height: 100px;
    background-color: #264653;
    background-color: #ebe5f5;
    color: #000;
}

.footer-nav {
    margin: 10px;
    padding-top: 10px;
    text-align: center;
}

footer a {
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    margin-right: 5px;
    color: #fff;
}

footer a:hover {
    color: #cc0;
}

footer a:active {
    color: aqua;
}

#copyright {
    padding-left: 20px;
}