html {
    height: 101%;
}

body,
ul {
    padding: 0px;
    margin: 0px;
}


/*  Header */

header {
    background-image: url('../images/banner.png');
    background-color: rgb(255, 174, 0);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

#title-box {
    position: relative;
    left: 60%;
    top: 30px;
}



#title {
    font-size: 300%;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    #title-box {
       left: 40%;;
    }
    #title {
        font-size: 200%;
    }
}

.navbar {
    top: 200px;
}

.content {
    margin-top: 350px;
    margin-bottom: 20px;
}

.main-section {
    border-right: 1px solid black;
    border-left: 1px solid black;
    ;
}

.advertisement {
    padding-right: 10px;
    background-image: url('../images/coca\ cola.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 800px;
}


/* Event Box */

.event-box {
    display: flex;
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 0px 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.current-month {
    background-color: lightblue;
}

.first-month-after {
    background-color: lightgreen;
}

.second-month-after {
    background-color: lightgray;
}

.date-box {
    border-right: 1px solid black;
    padding-right: 10px;
}

.venue-box {
    padding-left: 10px;
}


/* Registration Form */

.form-container {
    width: 100%;
}

.panel {
    padding: 10px;
    border: 1px solid #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
}

#register-next {
    position: relative;
    top: -40px;
}

.next {
    float: right;
}

#cvv {
    width: 20%;
}

.required {
    color: red;
}


/* responsive form */

@media screen and (max-width: 700px) {
    .form-container {
        width: 100%;
    }
    .panel {
        margin: 0px;
    }
}


/* Calendar */

.enabled {
    background-color: lightgreen;
    border: 1px solid black;
}

@media screen and (max-width: 1150px) {
    .advertisement {
        display: none;
    }
    .main-section {
        border-left: none;
    }
}


/* Error messages */

.form-group small,
#error-message {
    visibility: hidden;
}

.form-group.error small,
.input-error {
    visibility: visible;
    border: 1px solid red;
    padding: 2px;
    border-radius: 2px;
}

.error-box {
    padding: 5px 0px;
    background: lightcoral;
    /* width: 50%; */
    position: relative;
    /* left: 10px; */
}


/* Server side registration response */

.response-box {
    border-radius: 10px;
    padding: 20px;
}

.response-box.response-success {
    border: 1px solid green;
}


/* Footer */

footer {
    width: 100%;
    height: 100px;
    background-color: #264653;
    background-color: #ebe5f5;
    color: #000;
}

.footer-nav {
    margin: 10px;
    padding-top: 10px;
    text-align: center;
}

footer a {
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    margin-right: 5px;
    color: #fff;
    color: #000;
}

footer a:hover {
    /* color: #cc0; */
}

footer a:active {
    color: aqua;
}

#copyright {
    padding-left: 20px;
}